<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do Liste</title>
</head>
<body>
<h1>Willkommen zu Ihrer To-Do Liste!</h1>
<div id="myDIV" class="header">
    <h2>Meine To-Do Liste</h2>
    <input type="text" id="myInput" placeholder="Nächstes To-Do">
    <span onclick="newElement()" class="addBtn">Hinzufügen</span>
</div>

<ul id="myUL">
    <li>Wocheneinkauf erledigen</li>
    <li class="checked">Oma anrufen</li>
    <li>Termin beim Zahnarzt vereinbaren</li>
    <li>Zum Fitness gehen</li>
    <li class="checked">Webtechnologien M1 erledigen</li>
    <li>Zimmer streichen</li>
</ul>
</body>
</html>